:root{
    --var-primary : #2BD664;
    --var-black : #071C35;
    --var-grey : #5A5D61;
}


body{
    background-color: #ECF3FB;
}

.text-readbox{
    color: var(--var-primary);
}

.text-navbar{
    color: var(--var-black);
}
.text-black{
    color: var(--var-black) !important;
}
.text-navbar:hover{
    color: var(--var-primary);
  
}
.btn-readbox{
    background-color: var(--var-primary);
    border-radius: 50rem;
    color: white;
}
.btn-readbox:hover{
    background-color: #33c163;
    border-radius: 50rem;
    color: white;
}

.btn-outline-readbox{
    background-color: transparent;
    border : 3px solid var(--var-primary);
    border-radius: 50rem;
    color: var(--var-primary);
}
.btn-outline-readbox:hover{
    background-color: var(--var-primary);
    border-radius: 50rem;
    color: white
}
.section1{
    background-image: url('/img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    }
.section2{
        background-image: url('/img/bg2.png');
      width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  top;
     
      
}
.card-overview{
        border-radius: 20px;
      border: 0px;
}

.section3 {
    background: linear-gradient(to bottom, #ECF3FB 0%, #ECF3FB 20%, #1AD69A 20%, #1AD69A 80%, transparent 80%, transparent 100%);
    background-color: #E5F0FC;
    background-size: cover;
   
}

.card-pricing{
    color: var(--var-grey);
    border: 0 ;
    border-radius: 20px;
}
.btn-reguler{
    color: white;
    background-color: var(--var-grey);
    border-radius: 50rem;
}
.btn-reguler:hover{
    color: white;
    background-color: #46484a;
    border-radius: 50rem;
}
.mo-price{
    font-size: 12px;
}
.section4{
    background-color: #E5F0FC;
    
}
.section5{
    background-color: #F2F4FF;
    background-image: url('/img/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  bottom;
  
}
.section6{
    background-color: #E5F0FC;

}
.card-team{
    border: 0;
    border-radius: 20px;
}
.text-grey{
    color: var(--var-grey);
}
.w-65{
    width: 65%;
    height: auto;
}
.section7{
    background-color: #1AD69A;
}
.card-contact{
    border: 0;
    border-radius: 50rem;
}
.btn-menu{
    background-color: var(--var-primary);
    border-radius: 8px;
    color: white;
    aspect-ratio: 1/1;
    
}
.navbar-readbox{
    position: fixed;
    width: 100%;
}
.w-65{
    width: 65%;
    height: auto;
}